@page "/"

@attribute [Authorize]


<section style="background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('css/images/a73699644873889f25a635ea9f7d02a6c3a3c5f66cf00bfce2bf8934446f44aa2837f386239713a1d9265ae0536902f50bcdfa0a6010f01bcae57b_1280.jpg');" class="u-clearfix u-image u-shading u-section-1" id="sec-87f6" data-image-width="1280" data-image-height="853">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-layout-grid u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <a href="/trainee">
                            <img class="u-hover-feature u-image u-image-contain u-image-round u-preserve-proportions u-radius-50 u-image-1 animated customAnimationIn-played" src="css/images/8ff88d97-c68e-1015-effb-8eadd24c5e49.png" alt="" data-image-width="398" data-image-height="404" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="" style="will-change: transform, opacity; animation-duration: 1000ms;">

                        </a>
                    </div>
                </div>
                <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <a href="/report">
                            <img class="u-hover-feature u-image u-image-contain u-image-round u-preserve-proportions u-radius-50 u-image-2 animated customAnimationIn-played" src="css/images/Untitled-21.png" alt="" data-image-width="398" data-image-height="404" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="" style="will-change: transform, opacity; animation-duration: 1000ms;">

                        </a>

                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <a href="/meassges">
                            <img class="u-hover-feature u-image u-image-contain u-image-round u-preserve-proportions u-radius-50 u-image-3 animated customAnimationIn-played" src="css/images/a82bc6874cc7b8590870c428d8f5d14c2de8c7a03aa3f6b31394a6816804727930e5541a0255073d46d494eb195656517a5013474877884714815f_1280.png" alt="" data-image-width="1280" data-image-height="1280" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="" style="will-change: transform, opacity; animation-duration: 1000ms;">

                        </a>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-container-layout-4">
                        <a href="/settings">
                            <img class="u-hover-feature u-image u-image-contain u-image-round u-preserve-proportions u-radius-50 u-image-4 animated customAnimationIn-played" src="css/images/gf8794ba2dab960929eaa8e35b22cfb1c079656d597e7b2a35e2f4c6f51480a4dd39a01561419a45a1ebed868783455dd_1280.png" alt="" data-image-width="1225" data-image-height="1280" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="" style="will-change: transform, opacity; animation-duration: 1000ms;">

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>