 .u-section-1[b-cgsv7grf2r] {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("css/images/61eea4f3ae17f9a97612ff35814eef0b4edc13f698012646f63d390188fec181867676e2f137c058448a3776406bf6a2f04139a9e60771754c386a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1[b-cgsv7grf2r] {
  min-height: 1011px;
}

.u-section-1 .u-group-1[b-cgsv7grf2r] {
  width: 800px;
  min-height: 792px;
  height: auto;
  margin: 95px auto 60px;
}

.u-section-1 .u-container-layout-1[b-cgsv7grf2r] {
  padding: 0;
}

.u-section-1 .u-icon-1[b-cgsv7grf2r] {
  width: 67px;
  height: 67px;
  margin: 33px auto 0 206px;
  padding: 7px;
}

.u-section-1 .u-text-1[b-cgsv7grf2r] {
  margin: -59px 248px 0 auto;
}

.u-section-1 .u-form-1[b-cgsv7grf2r] {
  height: 458px;
  width: 670px;
  margin: 99px auto 0;
}

.u-section-1 .u-label-1[b-cgsv7grf2r] {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-1[b-cgsv7grf2r] {
  font-weight: 700;
}

.u-section-1 .u-label-2[b-cgsv7grf2r] {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-2[b-cgsv7grf2r] {
  font-weight: 700;
}

.u-section-1 .u-form-group-3[b-cgsv7grf2r] {
  margin-left: 0;
}

.u-section-1 .u-label-3[b-cgsv7grf2r] {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-3[b-cgsv7grf2r] {
  font-weight: 700;
}

.u-section-1 .u-form-group-4[b-cgsv7grf2r] {
  margin-left: 0;
}

.u-section-1 .u-label-4[b-cgsv7grf2r] {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-4[b-cgsv7grf2r] {
  font-weight: 700;
}

.u-section-1 .u-form-group-5[b-cgsv7grf2r] {
  margin-left: 0;
}

.u-section-1 .u-label-5[b-cgsv7grf2r] {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-5[b-cgsv7grf2r] {
  font-weight: 700;
}

.u-section-1 .u-form-group-6[b-cgsv7grf2r] {
  margin-left: 0;
}

.u-section-1 .u-label-6[b-cgsv7grf2r] {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-6[b-cgsv7grf2r] {
  font-weight: 700;
}

.u-section-1 .u-btn-1[b-cgsv7grf2r] {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 26%;
  padding: 19px 0 20px;
}

.u-section-1 .u-icon-2[b-cgsv7grf2r] {
  width: 36px;
  height: 36px;
  margin: -225px 212px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-3[b-cgsv7grf2r] {
  width: 36px;
  height: 36px;
  margin: -36px auto 0 187px;
  padding: 0;
}

.u-section-1 .u-icon-4[b-cgsv7grf2r] {
  width: 36px;
  height: 36px;
  margin: -150px auto 0 184px;
  padding: 0;
}

.u-section-1 .u-icon-5[b-cgsv7grf2r] {
  width: 29px;
  height: 29px;
  margin: -36px 219px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-6[b-cgsv7grf2r] {
  width: 29px;
  height: 29px;
  margin: -143px auto 0 187px;
  padding: 0;
}

.u-section-1 .u-icon-7[b-cgsv7grf2r] {
  width: 29px;
  height: 29px;
  margin: -29px 219px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-2[b-cgsv7grf2r] {
  border-style: none;
  margin: 355px auto 0 149px;
  padding: 0 32px;
}

.u-section-1 .u-icon-8[b-cgsv7grf2r] {
  font-size: 2.625em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1[b-cgsv7grf2r] {
    min-height: 880px;
  }

  .u-section-1 .u-group-1[b-cgsv7grf2r] {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1[b-cgsv7grf2r] {
    min-height: 674px;
  }

  .u-section-1 .u-group-1[b-cgsv7grf2r] {
    width: 720px;
  }

  .u-section-1 .u-text-1[b-cgsv7grf2r] {
    margin-right: 223px;
  }

  .u-section-1 .u-btn-2[b-cgsv7grf2r] {
    margin-left: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1[b-cgsv7grf2r] {
    min-height: 506px;
  }

  .u-section-1 .u-group-1[b-cgsv7grf2r] {
    width: 540px;
  }

  .u-section-1 .u-icon-1[b-cgsv7grf2r] {
    margin-left: 155px;
  }

  .u-section-1 .u-text-1[b-cgsv7grf2r] {
    margin-right: 167px;
  }

  .u-section-1 .u-form-1[b-cgsv7grf2r] {
    width: 540px;
  }

  .u-section-1 .u-icon-2[b-cgsv7grf2r] {
    margin-right: 159px;
  }

  .u-section-1 .u-icon-3[b-cgsv7grf2r] {
    margin-left: 140px;
  }

  .u-section-1 .u-icon-4[b-cgsv7grf2r] {
    margin-left: 138px;
  }

  .u-section-1 .u-icon-5[b-cgsv7grf2r] {
    margin-right: 164px;
  }

  .u-section-1 .u-icon-6[b-cgsv7grf2r] {
    margin-left: 140px;
  }

  .u-section-1 .u-icon-7[b-cgsv7grf2r] {
    margin-right: 164px;
  }

  .u-section-1 .u-btn-2[b-cgsv7grf2r] {
    margin-top: 344px;
    margin-left: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1[b-cgsv7grf2r] {
    min-height: 319px;
  }

  .u-section-1 .u-group-1[b-cgsv7grf2r] {
    width: 340px;
  }

  .u-section-1 .u-icon-1[b-cgsv7grf2r] {
    margin-left: 98px;
  }

  .u-section-1 .u-text-1[b-cgsv7grf2r] {
    margin-right: 105px;
  }

  .u-section-1 .u-form-1[b-cgsv7grf2r] {
    width: 340px;
  }

  .u-section-1 .u-icon-2[b-cgsv7grf2r] {
    margin-right: 100px;
  }

  .u-section-1 .u-icon-3[b-cgsv7grf2r] {
    margin-left: 88px;
  }

  .u-section-1 .u-icon-4[b-cgsv7grf2r] {
    margin-left: 87px;
  }

  .u-section-1 .u-icon-5[b-cgsv7grf2r] {
    margin-right: 103px;
  }

  .u-section-1 .u-icon-6[b-cgsv7grf2r] {
    margin-left: 88px;
  }

  .u-section-1 .u-icon-7[b-cgsv7grf2r] {
    margin-right: 103px;
  }

  .u-section-1 .u-btn-2[b-cgsv7grf2r] {
    margin-left: 0;
  }
}